<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<main>
    <div class="container-fluid px-4">
        <h1>아이템 관리</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                아이템 목록
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>아이템 이름</th>
                        <th>아이템 설명</th>
                        <th>아이템 Type</th>
                        <th>아이템 생성 이유</th>
                        <th>아이템 만든 날짜</th>
                        <th>아이템 수정 날짜</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>아이템 이름</th>
                        <th>아이템 부가설명</th>
                        <th>아이템 Type</th>
                        <th>아이템 생성 이유</th>
                        <th>아이템 만든 날짜</th>
                        <th>아이템 수정 날짜</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="item : ${item_list}">
                        <td th:text="${item.item_name}"></td>
                        <td th:text="${item.item_info}"></td>
                        <td th:text="${item.item_type}"></td>
                        <td th:text="${item.item_make}"></td>
                        <td th:text="${item.item_createday}"></td>
                        <td th:text="${item.item_fixday}"></td>
                        <td>개발중..</td>
                        <td>개발중..</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</html>